# Get it from: https://my.telegram.org/apps

API_ID=
API_HASH=

# Get it from: https://t.me/botfather
BOT_TOKEN=

# MySQL Config
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# Telegram Chat ID that want to send to when receive new email.
TG_SEND_TO=

# Storage directory to save patch files
STORAGE_DIR=
